langchain
langchain-community
langgraph
langchain-groq
python-dotenv
torch
transformers
openai-whisper
librosa
soundfile
audioread
pydub
--only-binary=all webrtcvad
ffmpeg-python
moviepy
tqdm
google-api-python-client
google-generativeai>=0.8.0