langchain
langchain-core
langchain-community
langgraph
langchain-groq
python-dotenv
torch
transformers
openai-whisper
audioread
pydub
--only-binary=all webrtcvad
ffmpeg-python
moviepy
tqdm
numpy<2
soundfile>=0.12.1
SpeechRecognition>=3.10.0
librosa>=0.10.0
pyaudio>=0.2.13
python-dateutil>=2.8.2
scipy>=1.10.0
torchaudio>=2.0.0
sentence-transformers>=2.2.2
sounddevice>=0.4.6
soundfile
libsndfile
fastapi>=0.104.0
uvicorn[standard]>=0.24.0
python-multipart>=0.0.6